bin/
obj/
#build/
.settings/
test-results/
*.csproj.user
*.suo
*.bak
*.userprefs
*~

launch*.properties


*/target/
/.idea/
*.log
*.class
*.iml
/.mvn/
.mvn/**
!/.idea/
*.idea
.idea/*
/.idea/
